node_modules/
dist/
.DS_Store
Thumbs.db

server/.env
client/.env

client-localhost.stderr.log
client-localhost.stdout.log
client.stderr.log
client.stdout.log

server-localhost.stderr.log
server-localhost.stdout.log
server.stderr.log
server.stdout.log